<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TalkingDataAppAnalytics</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>ImportSDKCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).ImportSDKCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>基础--SDK头文件引入</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SDKInitializeCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).SDKInitializeCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>基础-SDK初始化</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>BackgroundSessionCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).BackgroundSessionCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>基础--开启后台使用时长统计</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>AccountRegisterCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).AccountRegisterCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>基础--账户注册</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>AccountLoginCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).AccountLoginCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>基础--账户登录</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>ExceptionReportCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).ExceptionReportCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>基础--异常报告</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CustomLocationCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CustomLocationCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>基础--自定义地理位置</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>TrackPageBeginCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).TrackPageBeginCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--页面追踪开始</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>TrackPageEndCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).TrackPageEndCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--页面追踪结束</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CustomEventCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CustomEventCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--自定义事件(无标签与参数)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CustomEventWithLabelCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CustomEventWithLabelCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--自定义事件(标签)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CustomEventWithLabelAndParamCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CustomEventWithLabelAndParamCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--自定义事件(标签与参数)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CustomEventGlobalKVCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CustomEventGlobalKVCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--自定义事件(添加全局参数)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CustomEventRemoveGlobalKVCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CustomEventRemoveGlobalKVCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--自定义事件(移除全局参数)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>TransactionCreateOrderCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).TransactionCreateOrderCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--标准事件(应用内下单)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>TransactionPaySucceeCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).TransactionPaySucceeCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--标准事件(成功支付订单)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>TransactionOnViewCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).TransactionOnViewCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--标准事件(浏览商品)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>TransactionAddCartCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).TransactionAddCartCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--标准事件(加入购物车)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>TransactionCheckCartCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).TransactionCheckCartCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--标准事件(查看购物车)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>AntiCheatingEnableCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).AntiCheatingEnableCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--用户质量评估</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>PushDeviceTokenCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).PushDeviceTokenCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--推送营销(传入DeviceToken)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>PushMessageHandleCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).PushMessageHandleCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--推送营销(传入Message)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>EAuthDocumentCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).EAuthDocumentCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级--易认证(查阅详细集成文档)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>WatchOSInitCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).WatchOSInitCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级-WatchOS应用统计(初始化)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>WatchOSPageTrackBeginCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).WatchOSPageTrackBeginCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级-WatchOS应用统计(页面追踪开始)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>WatchOSPageTrackEndCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).WatchOSPageTrackEndCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>高级-WatchOS应用统计(页面追踪结束)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>DocumentHelpCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).DocumentHelpCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>查阅文档中心</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 TendCloud. All rights reserved.</string>
</dict>
</plist>
